.container{
  background-color: lawngreen;
  width:200px;
  height:200px;
  margin:auto;
  padding:20px 20px 20px;
  box-shadow: 10px 10px 10px 10px  rgb(37, 0, 32);
border-radius: 360px;
}
p{
margin:45% 10% 40% 40%;
  font-weight: bolder;
  color:darkmagenta;
}
p:hover{
  color:darkorange;
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif;
}
button{
  border-radius: 10px;
  color:turquoise;
  background-color: red;
}